.gap2 {
    gap: 0.125rem;
}

.gap4 {
    gap: 0.25rem;
}

.gap8 {
    gap: 0.5rem;
}

.gap16 {
    gap: 16px;
}

.gap24 {
    gap: 1.5rem;
}

.gap32 {
    gap: 2rem;
}

.gap40 {
    gap: 2.5rem;
}

.gap48 {
    gap: 3rem;
}

.gap80 {
    gap: 5rem;
}